*{
	padding: 0;
	margin: 0;
	font-family: 'Josefin Sans', sans-serif;
	box-sizing: border-box;
}

html{
	scroll-behavior: smooth;
}

/* Navigation */
nav{
    height: 60px;
    background-color:black;
}

nav h1{
    position: absolute;
    width: 200px;
    top: 15px;
    left: 5%;
    color:rgb(4, 0, 0);
    text-transform: uppercase;
}

nav ul{
    float: right;
    margin-right: 25px;
    list-style: none;
}

nav ul li{
    display: inline-block;
    line-height: 60px;
    margin: 0 15px;
}

nav ul li a{
    position: relative;
    padding: 5px 0;
    color: white;
    font-size: 18px;
    text-decoration: none;
}

nav ul li a:hover{
    color: brown;
}

label #s1, label #s2{
    font-size: 30px;
    color: #000;
    float: right;
    line-height: 60px;
    margin-right: 30px;
    cursor: pointer;
    display: none;
}
#res-menu{
    display: none;
}
/* Banner */



span{
	color: #f9004d;
}





h1{
	color: white;
	margin: 20px 0px 20px;
	font-size: 75px;
}
h3{
	color: white;
	font-size: 25px;
	margin-bottom: 50px;
}
h4{
	color: #fcfc;
	letter-spacing: 2px;
	font-size: 20px;
}





.about{
	width: 100%;
	padding: 100px 0px;
	background-color:black ;
}
.about img{
	height: 700px;
	width: 430px;
}
.about-text{
	width: 550px;
}
.main{
	width: 1130px;
	max-width: 95%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.about-text h2{
	color: white;
	font-size: 75px;
	text-transform: capitalize;
	margin-bottom: 20px;
}
.about-text h5{
	color: white;
	letter-spacing: 2px;
	font-size: 22px;
	margin-bottom: 25px;
	text-transform: capitalize;
}
.about-text p{
	color: #fcfc;
	letter-spacing: 1px;
	line-height: 28px;
	font-size: 18px;
	margin-bottom: 45px;
}
button{
	background-color:#f9004d;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 13px 30px;
	border-radius: 30px;
	transition: .4s; 
}
button:hover{
	background-color: transparent;
	border: 2px solid #f9004d;
	cursor: pointer;
}

.service{
	background: #101010;
	width: 100%;
	padding: 100px 0px;
}
.title h2{
	color: white;
	font-size: 75px;
	width: 1130px;
	margin: 30px auto;
	text-align: center;
}
.box{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 400px;
}
.card{
	height: 380px;
	width: 335px;
	padding: 20px 35px;
	background: #191919;
	border-radius: 20px;
	margin: 15px;
	position: relative;
	overflow: hidden;
	text-align: center;
}
.card i{
	font-size: 50px;
	display: block;
	text-align: center;
	margin: 25px 0px;
	color: #f9004d;

}
h5{
	color: white;
	font-size: 23px;
	margin-bottom: 15px;
}
.pra p{
	color: #fcfc;
	font-size: 16px;
	line-height: 20px;

}
.card .button{
	background-color:#f9004d;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 9px 22px;
	border-radius: 30px;
	transition: .4s; 
}
.card .button:hover{
	background-color: transparent;
	border: 2px solid #f9004d;
	cursor: pointer;
}
.contact-me{
	width: 100%;
	height: 290px;
	background: #191919;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}
.contact-me p{
	color: white;
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 25px;
}
.contact-me .button-two{
	background-color:#f9004d;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 13px 30px;
	border-radius: 30px;
	transition: .4s; 
	margin-left:90px ;
}
.contact-me .button-two:hover{
	background-color: transparent;
	border: 2px solid #f9004d;
	cursor: pointer;
}
footer{
	position: relative;
	width: 100%;
	height: 400px;
	background: #101010;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
footer p:nth-child(1){
	font-size: 30px;
	color: white;
	margin-bottom: 20px;
	font-weight: bold;
}
footer p:nth-child(2){
	color: white;
	font-size: 17px;
	width: 500px;
	text-align: center;
	line-height: 26px;
}
.social{
	display: flex;
}
.social a{
	width: 45px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	background:  #f9004d;
	border-radius: 50%;
	margin: 22px 10px;
	color: white;
	text-decoration: none;
	font-size: 20px;
}
.social a:hover{
	transform: scale(1.3);
	transition: .3s;
}
.end{
	position: absolute;
	color:#f9004d;
	bottom: 35px;
	font-size: 14px; 
}








/* skills bar */

.card-row{
	display: flex;
}

.circle-wrap {
  display: grid;
  grid-template-columns: repeat(1, 160px);
  grid-gap: 80px;

  width: 150px;
  height: 150px;
  background: #8c8787;
  border-radius: 50%;
}

.mask,
.fill-1,
.fill-2,
.fill-3,
.fill-4,
.fill-5,
.fill-6 {
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
}

.circle-wrap .circle .mask {
  clip: rect(0px, 150px, 150px, 75px);
}

.circle-wrap .inside-circle {
  width: 135px;
  height: 135px;
  border-radius: 50%;
  background:#181717;
  line-height: 125px;
  text-align: center;
  margin-top: 8px;
  margin-left: 8px;
  color: rgb(241, 231, 231);
  position: absolute;
  z-index: 7;
  font-weight: 700;
  font-size: 20px;

}

/* color animation */

.fill-1,
.fill-2,
.fill-3,
.fill-4,
.fill-5,
.fill-6 {
  clip: rect(0px, 75px, 150px, 0px);
  background-color:#f9004d;
}

/* 1st bar */
.mask.full-1, .circle .fill-1 {
  animation: fill-1 ease-in-out 2s;
  transform: rotate(155deg);
}


@keyframes fill-1 {
  0% {
	transform: rotate(0deg);
  }

  100% {
	transform: rotate(155deg);
  }
}

/* 2nd bar */
.mask.full-2, .circle .fill-2 {
  animation: fill-2 ease-in-out 2s;
  transform: rotate(125deg);
}

@keyframes fill-2 {
  0% {
	transform: rotate(0deg);
  }

  100% {
	transform: rotate(125deg);
  }
}

/* 3rd progress bar */
.mask.full-3, .circle .fill-3 {
  animation: fill-3 ease-in-out 2s;
  transform: rotate(135deg);
}

@keyframes fill-3 {
  0% {
	transform: rotate(0deg);
  }

  100% {
	transform: rotate(135deg);
  }
}

/* 4th bar */
.mask.full-4, .circle .fill-4 {
  animation: fill-4 ease-in-out 2s;
  transform: rotate(115deg);
}

@keyframes fill-4 {
  0% {
	transform: rotate(0deg);
  }

  100% {
	transform: rotate(115deg);
  }
}

/* 5th bar */
.mask.full-5, .circle .fill-5 {
  animation: fill-5 ease-in-out 2s;
  transform: rotate(90deg);
}

@keyframes fill-5 {
  0% {
	transform: rotate(0deg);
  }

  100% {
	transform: rotate(90deg);
  }
}

/* 6th bar */
.mask.full-6, .circle .fill-6 {
  animation: fill-6 ease-in-out 2s;
  transform: rotate(120deg);
}

@keyframes fill-6 {
  0% {
	transform: rotate(0deg);
  }

  100% {
	transform: rotate(120deg);
  }
}